<h1 style="margin-top:5px; font-family:Arial;">TRY IT FREE FOR 14 DAYS</h1>
			
<%=  error_messages_for :account, {:header => 'Please correct the following problems:'} %>

			<% remote_form_for :account, :url => {:controller => 'account', :action => 'signup'} do |account| %>
											
				<%= account.label :username %>
				<%= account.text_field :username %>
				
				<%= account.label :password %>
				<%= account.password_field :password %>
				
				<%= account.label :password_confirmation %>
				<%= account.password_field :password_confirmation %>
				
				<%= account.label :name %>
				<%= account.text_field :name %>
				
				<%= account.label :email %>
				<%= account.text_field :email %>
				<br><br>
				<center><%= submit_tag 'CREATE MY ACCOUNT', :class => "action-button" %></center>
			<% end %>
			